<div class="card">
  <div class="card-body">
    <h4 class="card-title"> <%= @post.title %></h4>
    
    <p class="card-text">
      <%= @post.content %>
    </p>

    <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-primary' %> |
    <%= link_to 'Back', posts_path, class: 'btn btn-secondary' %>
</div>


