/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap-custom";

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: 1000px;
  margin: 0 auto;
  background: linear-gradient(-90deg, #8dd7fc, #d6f1ff);

  .header {
    padding: 20px;
    text-decoration-color: teal;
    text-transform: uppercase;
    text-align: center;
    font-size: 28px;
  }

  .post-table {
    background-color: #ffffff;
    padding: 20px;

    .table-header {
      font-weight: bold;
    }

    .table-row {
      padding: 5px;
    }
  }

  .footer {
    padding: 20px;
    text-align: center;
    color: #989da5;
  }
}
